html {
	display: block;
	-webkit-font-smoothing: antialiased;

}

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: black;
	position: relative;
	font-size: 18px;
	color:  white;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}


header {
	position: fixed;
	font-size: 14pt;
	height: 80px;
	background: transparent;
	color: white;
	transition: all 0.4s ease-out;
	padding-right: 40px;
	font-weight: 400;
	width: 100%;
	display: inline;
	margin-top: 20px;
}

header.sticky {
	transition: all 0.4s ease-out;
	color: black;
	z-index: 100;
}

i.fa-chevron-up{
	-webkit-transition: all 0.2s ease-out
}

i.fa-chevron-up:hover{
	color: #E24E42;
	-webkit-transition: all 0.2s ease-out
}


span.menuitem{
	vertical-align: middle;
	-webkit-transition: all 0.2s ease-out;
	-webkit-font-smoothing: antialiased;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #E24E42;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #E24E42;
}

/*span.menuitem:hover{
	color: #E24E42;
	-webkit-transition: all 0.2s ease-out
}*/

span.menuitem-left{
	float: left;
	margin-left: 3%;
	max-width: 100px;
}

span.menuitem-right{
	float:right;
	text-align: center;
	margin-right: 3%;
	max-width: 100px;
}

section.title{
	height: 600px;
	padding-top: 80px;
	background-color: none;
	color: auto;
	display: table;
	width: 100%;
}

span.title{
	vertical-align: middle;
	text-align: center;
	font-size: 5em;
	z-index: 2;
	position: absolute;
	top: 300px;
	left: 20%;
	right: 20%;
	min-width: 50%;
	background: rgba(0,0,0,0.3);
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

p.css-button-light{
	border-radius: 50px;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	padding: 10px;
	text-align: center;
	align-content: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 120px;
	font-size: 20pt;
	color: white;
	-webkit-transition: all 0.2s ease-out;
	letter-spacing: 1px;
}

p.css-button-light:hover{
	background: white;
	color: black;
	-webkit-transition: all 0.2s ease-out;
}

p.css-button-dark{
	border-radius: 50px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	padding: 10px;
	text-align: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 120px;
	font-size: 20pt;
	color: black;
	-webkit-transition: all 0.2s ease-out;
	letter-spacing: 1px;
}

p.css-button-dark:hover{
	/*background: #A239CA;*/
	background: #E24E42;
	color: white;
	border-color: #E24E42;
	-webkit-transition: all 0.2s ease-out;
}

p.submit-button{
	margin-bottom: 0px;
}

section.q_1{
	height: 600px;
	background-color: white;
	color: black;
	display: table;
	width: 100%;
}

section.q_2{
	height: auto;
	background-color: black;
	color: white;
	display: table;
	width: 100%;
}

section.q_3{
	height: auto;
	background-color: silver;
	color: white;
	display: table;
	width: 100%;
}


span.q{
	display: table;
	height: 100%;
	text-align: left;
	padding-top: 30px;
	padding-left: 25%;
	padding-right: 25%;
	width: 50%;
	padding-bottom: 30px;
	vertical-align: middle;
}

span.q_append{
	display:table;
	text-align: left;
	padding-top: 30px;
	padding-left: 25%;
	padding-right: 25%;
	width: 50%;
	padding-bottom: 30px;
	vertical-align: middle;
	color: white;
}

section.footer{
	background-color: black;
	height: 50px;
	margin-top: 30px;
}

p.footer{
	display: table;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
	width: 50%;
	vertical-align: middle;
	font-size: 24pt;
	margin: auto;
}

input[type=text]{
	outline: none;
	border: 0px solid;
	border-bottom: 2px solid;
	padding: 10px;
	font-size: 12pt;
	/*-webkit-transition: width 0.9s ease-in-out;*/
	/*transition: width .5s ease-in-out;*/
	-webkit-transition: 0.5s;
	width: 300px;
	box-sizing: border-box;
}

input[type=text]:focus {
	/*-webkit-transition: width 0.9s ease-in-out;*/
	border-color: #E24E42;
}

button{
	padding: 5px 10px;
} 

#mainTitle{
	text-align: center;
}

/* this is for Google Maps search box */

#locationField, #controls {
	width: 480px;
}
#default_city, #second_city, #third_city {
	top: 0px;
	left: 0px;
	width: 300px;
}

/*This is for WebGL Globe*/
.year {
	font: 16px Georgia;
	line-height: 26px;
	height: 30px;
	text-align: center;
	float: left;
	width: 90px;
	color: rgba(255, 255, 255, 0.4);

	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
}

.year:hover, .year.active {
	font-size: 23px;
	color: #fff;
}

#container {
	margin: 0;
	padding: 0;
	background: url(loading .gif) center center no-repeat;
	height: 100%;
	width: 100%;
	z-index: 0;
	position: relative;
}

canvas {
	z-index: 1;
	position:relative;
}

h1 {
	font-weight: 600;
	font-size: 38pt;
	-webkit-margin-after: 10px;
}

h1.quote{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	-webkit-margin-after: 10px;
	margin-top: 100px;
	font-size: 32pt;
}

div.quote{
	width   : auto;
	height  : auto;   
	position: relative;
	z-index : 1;
}

div.quote:after{
	content : "";
	position: absolute;
	left    : 0;
	bottom  : -10px;
	height  : 1px;
	width   : 300px;  /* or 100px */
	border-bottom: 5px solid #E24E42;
	margin-top: 20px;
}

div.your_info{
	width   : auto;
	height  : auto;   
	position: relative;
	z-index : 1;
	margin-bottom: 100px;
	margin-top: 150px;
}

div.your_info:after{
	content : "";
	position: absolute;
	left    : 0;
	bottom  : -50px;
	height  : 1px;
	width   : 300px;  /* or 100px */
	border-bottom: 5px solid #E24E42;
}

p.quote {
	font-family: 'Playfair Display', serif;
	font-size: 14pt;
	text-align: right;
}

div.explanation{
	margin-top: 60px;
	margin-bottom: 60px;
}

div.explanation2{
	margin-top: 60px;
	margin-bottom: 60px;
}

div.explanation3{
	margin-top: 60px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#name{
	margin-bottom: 100px;
}

div.default_answer{
	width   : auto;
	height  : auto;   
	position: relative;
	z-index : 1;
	margin-bottom: 100px;
	margin-top: 60px;
}

div.default_answer:after{
	content : "";
	position: absolute;
	left    : 0;
	bottom  : -50px;
	height  : 1px;
	width   : 300px;  /* or 100px */
	border-bottom: 5px solid #E24E42;
}

input[type=radio]{
	margin-left: 30px;
	width: 30px;
}

a{
	text-decoration: none;
	color: inherit;
}

section.about{
	height: auto;
	background-color: white;
	color: black;
	display: table;
	width: 100%;
}

body.about {
	background: white;

}

div.about {
	display:table;
	padding-left: 25%;
	padding-right: 25%;
	min-width: 200px;
	width: 50%;
	height: 75%;
	vertical-align: middle;

}

p.explanation {
	line-height: 20pt;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    height:     100%;
    width:      100%;
    background: black;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/*This is the loading page CSS*/

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dot {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
          animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
          animation: fx 1000ms ease infinite 600ms;
}
@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}